* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Defining background color for the Body of the page */
body {
    background-color: #d9dcd6;
}
/* Defining styling properties for the items in the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Defining styling properties for the items under nav tag */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}
/* Defining display  properties for the menu in the header */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Defining Color properties for all links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Defining styling properties for all praragraphs */
p {
    font-size: 16px;
}
/* Defining creating and applying styling  the background image  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    
    
}
/* Defining class that determine the position of the image "search-engine-optimization" and "social-media-marketing"*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Defining class that determine the position of the image "online-reputation-management"*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* Defining common styling properties for the items under main tag */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Defining common styling properties for the items under aside tag */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* defining a class that is applied on all section tags under aside*/
.benefit-group{
    margin-bottom: 32px;
    color: #ffffff;
}
/*

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
*/

/* defining a class that is applied on all h3 tags under aside*/
.benefit-h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*
}
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
*/

/* defining a class that is applied on all img tags under aside*/

.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
  */

  /* defining a class that is applied on all section tags under main*/

.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
*/

/*creating a class  to define the height of all images under main tag */

.main-height {
    max-height: 200px;
}
/*
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
*/

/* creating call to define properties  for all h2 elements under main tag */

.main-h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
